<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/data/jpa
       http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
       
    <jpa:repositories base-package="ar.com.reduceFatFast.repository" />
    
    <bean id="accountController" class="ar.com.reduceFatFast.controller.AccountController">
        <property name="accountService" ref="accountService"/>
    </bean>

	<bean id="personController" class="ar.com.reduceFatFast.controller.PersonController">
		<property name="personService" ref="personService"/>
    </bean>
    
    <bean id="accountService" class="ar.com.reduceFatFast.service.AccountService">
        <property name="accountRepository" ref="accountRepository"/>
    </bean>
    
     <bean id="personService" class="ar.com.reduceFatFast.service.PersonService">
<!--         <property name="dataSource" ref="dataSource"/> -->
    </bean>
    
<!--     <bean id="personRepository" primary="true" class="ar.com.reduceFatFast.repository.mysql.PersonMysqlRepository"/> -->

	<bean id="accountRepository" primary="true" class="ar.com.reduceFatFast.repository.mysql.AccountMysqlRepository"/>

</beans>